/* Pequeno reset na página*/
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do Game */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[tp-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    width: 90vw;
    height: 80vh;

    max-width: 1200px;
    max-height: 700px;
    background-color: skyblue;
    overflow: hidden;
}

.bird {
    position: relative;
    width: 60px;
    left: calc(50% - 30px);
    top: 50%;
}

.obstacle-pair {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.obstacle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obstacle .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.obstacle .body {
    width: 8vw;
    max-width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
}
